.collapse-header {
	align-items: center;
	justify-content: space-between;
	display: flex;
	padding: 0.75rem 1.25rem;
    margin-bottom: 0.5rem;
    background-color: #f0f3f5;
    border-bottom: 1px solid #c8ced3;
    border-top: 1px solid #c8ced3;
}